.logo {
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  border-radius: 50%;
  background-image: url("logo 1.jpeg");
  background-size: cover;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header-title {
  margin-left: 15px; /* Jarak antara logo dan tulisan */
}
