.logo {
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  border-radius: 50%;
  background-image: url("../img/logo1.jpeg");
  background-size: cover;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header-title {
  margin-left: 50px; /* Jarak antara logo dan tulisan (biarkan jika Anda suka) */
  font-weight: bold; /* Sudah ada, tapi kita tegaskan */
  font-size: 3rem; /* UKURAN BESAR: Membuat teks jauh lebih besar (3rem = sekitar 48px) */
  color: #228b22; /* WARNA HIJAU TEGAS: Menggunakan warna seperti Forest Green */
  letter-spacing: 2px;
}
