.logo {
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  border-radius: 50%;
  background-image: url("../img/logo1.jpeg");
  background-size: cover;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header-title {
  margin-left: 50px; /* Jarak antara logo dan tulisan */
  font-weight: bold;
  font-size: 6.5rem;
}
